<form name="shareEntryForm" novalidate autocomplete="off">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">{{'SHARE' | translate}} {{node.name}}</h3>
    </div>
    <div class="modal-body">

        <!--
        <div class="row" style="font-weight: bold">
            <div class="col-md-4"  ng-repeat="right in rights">
                {{ right.name }}
            </div>
        </div>
        -->

        <div class="row" style="font-weight: bold">
            <div class="col-xs-4 col-sm-4" ng-repeat="right in rights">
                {{ right.name | translate }}
                <button type="button" class="btn btn-default btn-sm" ng-click="toggle_select(right.id, 'right')" >
                    <i ng-class="selected_rights.indexOf(right.id) > -1 ? 'fa fa-check-square-o' : 'fa fa-square-o'"></i>
                </button>
            </div>
        </div>

        <hr>

        <uib-tabset>
            <uib-tab heading="{{'TRUSTED_USERS' | translate}}">
                <div ng-if="users">

                    <table datatable="ng" class="row-border hover" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                        <thead>
                        <tr>
                            <th>{{'USER' | translate}}</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in users">
                            <td>{{user.name | limitTo: 60 }}{{user.name.length > 60 ? '...)' : ''}}</td>
                            <td>
                                <button type="button" class="btn btn-default btn-sm" ng-click="toggle_select(user.id, 'user')">
                                    <i ng-class="selected_users.indexOf(user.id) > -1 ? 'fa fa-check-square-o' : 'fa fa-square-o'"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <button type="button" ng-click="add_user()" class="btn btn-link"><i class="fa fa-user-plus"></i> {{'SEARCH_USER' | translate}}</button>
                </div>

            </uib-tab>
            <uib-tab heading="{{'KNOWN_GROUPS' | translate}}">
                <div ng-if="groups">

                    <table datatable="ng" class="row-border hover" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                        <thead>
                        <tr>
                            <th>{{'GROUP' | translate}}</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="group in groups" ng-if="group.accepted">
                            <td>{{group.name | limitTo: 60 }}{{group.name.length > 60 ? '...)' : ''}}</td>
                            <td>
                                <button type="button" class="btn btn-default btn-sm" ng-click="toggle_select(group.group_id, 'group')">
                                    <i ng-class="selected_groups.indexOf(group.group_id) > -1 ? 'fa fa-check-square-o' : 'fa fa-square-o'"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row" ng-if="allow_create_groups">
                    <button type="button" ng-click="create_group()" class="btn btn-link"><i class="fa fa-user-plus"></i> {{'CREATE_GROUP' | translate}}</button>
                </div>

            </uib-tab>
        </uib-tabset>

        <div class="alert alert-danger" ng-repeat="e in errors">
            <strong>{{'ERROR' | translate}}:</strong> <span translate="{{ e }}"></span>
        </div>

        <div class="form-group alert alert-info" ng-repeat="e in msgs">
            <strong>{{'ERROR' | translate}}:</strong> <span translate="{{ e }}"></span>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="submitted=true; save();">{{'OK' | translate}}</button>
    </div>
</form>