<form name="modalDeleteVerifyForm" novalidate autocomplete="off">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">{{ title | translate }}</h3>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-if="entries.length > 0">
            <strong>{{ affected_entries_text | translate}}:</strong>
            <ul style="margin-top:10px">
                <li ng-repeat="entry in entries">{{ entry }}</li>
            </ul>
        </div>

        <div class="form-group alert alert-danger">
            <strong>{{'DANGER' | translate}}!</strong> {{ description | translate }}
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" type="button" ng-click="cancel();">{{'ABORT' | translate}}</button>
        <button class="btn btn-primary" type="submit" ng-click="confirm()">{{'YES' | translate}}</button>
    </div>
</form>